<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GumShoe</title>
</head>
<body>
    <h1>GumShoe</h1>
    <div>
        <h2>Issues</h2>
        <ul>
            {{#each issues as |i|}}
                <li><a href="/issues/{{i.id}}">#{{i.id}} {{i.title}}<a></li>
            {{/each}}
        </ul>
    </div>
</body>
</html>