<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GumShoe</title>
</head>
<body>
    <h1>GumShoe</h1>
    <h2>By Alexander McRae</h2>
    <div>
        <h4>Issues</h4>
        <ul>
            {{ #each issue as |i| ~}}
                <li>{{t.id}} {{t.title}}</li>
            {{/each~}}
        </ul>
    </div>
</body>
</html>